.Notice {
  /*font-family: 'Roboto', Arial, sans-serif;*/
  margin: 20px auto; /* Centra el contenido horizontalmente */
  text-align: center;
  background-color: rgb(187, 187, 187);
  color: black;
  min-height: 100vh;
  padding: 20px; /* Añade un padding alrededor del contenido */
  box-sizing: border-box;
}
body .Notice h1 {
  color: #000000;
  font-size: 36px;
  margin-bottom: 10px;
}

.container {
  padding: 20px;
}

.button-fetch {
  width: 30%;
  display: block;
  margin: 0 auto; /* Centra el botón horizontalmente */
  margin-top: 40px;
  margin-bottom: 20px;
  background-image: linear-gradient(to right, #28a745, #5cbe57);
  padding: 10px 20px;
  /* background-color: #4CAF50; */
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px; /* Agregar tamaño de texto */
  font-weight: bold; /* Agregar negrita */
}

.button-fetch:hover {
  /*background-color: #45a049;; /* Cambia el color al pasar el mouse */
  background-image: linear-gradient(to right, #206b34, #337430);
}

.button-fetch:active {
  transform: scale(0.90); /* Efecto de escala al hacer clic */
  background-color: #3e8e41;
}

#results {
  margin-top: 0px;
  padding: 40px; /* Añade un padding dentro del contenedor de resultados */
  width: 90%;
  margin: 0 auto; /* Centra el contenedor horizontalmente */
  text-align: center; /* Centra el contenido de los resultados */
}

.result-item {
  padding: 10px;
  border: 2px solid #000000;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #f9f9f9;
  text-align: left;
  font-size: 25px; 
}

.result-item p {
  margin: 5px 0;
}

.search-container {
  padding: 20px;
  text-align: center; /* Para centrar el contenido */
  /*background-color: white; /* Fondo blanco */
  margin-bottom: 20px; /* Agregar espacio debajo */
}
  
.search-input {
  width: 70%; /* Ancho del campo de búsqueda */
  max-width: 500px; /* Ancho máximo */
  padding: 15px; /* Aumentar el padding */
  border-top-left-radius: 8px; /* Redondear solo el borde superior izquierdo */
  border-bottom-left-radius: 8px; 
  border: 2px solid #ffffff; /* Borde gris */
  background-color: white; /* Fondo blanco */
  color: black; /* Color del texto negro */
  font-size: 3em; /* Tamaño de fuente más grande */
  position: relative; /* Posición relativa para el icono */
}


.button-search {
  margin-left: 2px;
  margin-top: 1px;
  margin-bottom: 1px;
  padding: 28px;
  background-color: #007bff;
  color: white;
  border: none;
  border-top-right-radius: 8px; /* Redondear solo el borde superior izquierdo */
  border-bottom-right-radius: 8px; 
  cursor: pointer;
  transition: background-color 0.3s ease; /* Transición suave para el color de fondo */
  background-size: 40px 40px; /* Tamaño del icono */
  background-repeat: no-repeat; /* Evita la repetición del icono */
  background-position: center; /* Centra el icono */
  width: 80px; /* Ajusta el ancho del botón */
  height: 79.4px; /* Ajusta la altura del botón */
}

.button-search {
  background-image: url('https://cdn-icons-png.flaticon.com/512/1373/1373392.png'); /* Cambiar el icono por el enlace proporcionado */
  text-indent: -9999px; /* Oculta el texto del botón */
  /*background-size: 30px 30px; /* Aumentar el tamaño del icono */
}

.button-search:hover {
  background-color: #0056b3; /* Cambia el color al pasar el mouse */
}

.button-search:active {
  transform: scale(0.90); /* Efecto de escala al hacer clic */
}

.location-switch {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

.location-switch label {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
}

.location-switch input {
  margin-right: 10px;
  transform: scale(2);
  background-color: white; /* Fondo blanco */
  border: 2px solid black; /* Borde negro */
  color-scheme: white;
}

.loading {
  font-size: 30px;
  color: #000000;
  font-weight: bold;
  margin-top: 20px;
  animation: blink 1s infinite; /* Añade una animación de parpadeo */
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}  

.update-message {
  max-width: 400px;
  margin: 0 auto;
  margin-top: 40px;
  padding: 10px;
  border: 2px solid #4CAF50; /* Borde verde */
  background-color: #E8F5E9; /* Fondo verde claro */
  color: #388E3C; /* Texto verde oscuro */
  font-weight: bold;
  border-radius: 4px;
  font-size: 20px;
}
