.cardTopic {
  font-size: 1.6rem;
  margin-top: 1.2rem;
  /* margin: 0 auto;
  max-width: 1080px; */
}

.cardTopic .card-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.cardTopic .card-header .profile-info {
  align-items: center;
  color: var(--white);
  display: flex;
  gap: .8rem;
  justify-content: center;
  text-decoration: none;
}

.cardTopic .card-header img {
  background-color: #fff; /* borrer */
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
}

.cardTopic .card-header .username {
  font-size: 1.8rem;
  font-weight: bold;
  margin: 0;
}


.cardTopic .card-footer {
  display: flex;
  flex-wrap: wrap;
  gap: .4rem;
  justify-content: end;
}

.cardTopic .card-footer .bi {
  font-size: 2.8rem;
}

.bi-hand-thumbs-up-fill {
  color: rgb(43, 0, 255);
}

.bi-bookmark-fill {
  color: rgb(0, 183, 255);
}

.bi-exclamation-triangle-fill {
  color: rgba(255, 255, 0, 1);
}

.cardTopic .card-body .markdown-content img {
  max-width: 100%;
}
