.forum-card-container {
  align-items: center;
  border-radius: .8rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  justify-content: space-between;
  padding: 2rem;
}

.f-c-c_title {
  text-align: center;
}

.f-c-c_title a {
  color: #000;
}

.f-c-c_profiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: .8rem;
}

.f-c-c_profiles img {
  width: 3.2rem;
}

.f-c-c_data {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: .8rem;
  justify-content: center;
  text-align: center;
}

.f-c-c_data span {
  font-weight: bold;
}

.cardActive {
  background-color: rgba(0, 191, 255, .1);
}

.cardDeactivate {
  background-color: rgba(255, 0, 0, .1);
}


@media screen and (min-width: 900px) {
  .forum-card-container {
    flex-direction: row;
    padding: 2rem 0 2rem 2.4rem;
  }

  .f-c-c_title {
    text-align: initial;
    flex: 6;
  }

  .f-c-c_profiles {
    flex: 4;
  }

  .f-c-c_profiles img {
    width: 2.8rem;
  }

  .f-c-c_data {
    flex: 6;
    justify-content: space-around;
  }

  .f-c-c_data span {
    display: none;
  }
}
