.forum-nav {
  align-items: center;
  border-bottom: .1rem solid var(--white);
  display: flex;
  justify-content: end;
  padding: 2rem 0;
}

.forum .articles {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2.4rem;
}

.forum .articles .read {
  opacity: .8;
}

.forum .articles .cardActive {
  background-color: rgba(0, 255, 0, .07);
}

.forum .articles .cardDeactive {
  background-color: rgba(255, 0, 0, .07);
}

.forum-nav button, .forum-nav a {
  font-size: 1.8rem;
}


.modalSearch .modal-header {
  padding: 1.6rem;
}

.modalSearch .modal-header .btn-close {
  font-size: 2rem;
}

.modalSearch .modal-body form {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  font-size: 1.6rem;
}

.modalSearch .modal-body form .row input,
.modalSearch .modal-body form .row select {
  font-size: 1.6rem;
}
