.cardTopicForum {
  margin: 2rem 0;
  padding-bottom: 1.2rem;
  border-bottom-left-radius: 1.2rem;
  border-bottom-right-radius: 1.2rem;
  box-shadow: 0rem .1rem 1rem var(--black);
  padding: .8rem;
}

.cardTopicForum-title {
  font-size: 2.2rem;
  font-weight: bold;
}

.cardTopicForum-footer {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 1.2rem;
}

.cardTopicForum-footer .rounded-pill {
  align-items: center;
  display: flex;
  font-size: 1.4rem;
  justify-content: center;
}

.cardTopicForum-footer_data {
  align-items: center;
  display: flex;
  gap: .4rem;
}

.cardTopicForum-footer_data p {
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  margin-bottom: 0;
  text-align: center;
}

.cardTopicForum-footer_data p span {
  font-size: 1.2rem;
}

.cardTopicForum-footer .btn {
  font-size: 1.6rem;
}

#collapseTopicCategories div {
  align-items: center;
  margin-top: 1.2rem;
  display: flex;
  flex-wrap: wrap;
  font-size: 1.2rem;
  gap: .8rem;
  justify-content: center;
}

.cardTopicForum-footer_gear {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: .4rem;
}

.cardTopicForum-footer_gear i {
  font-size: 2.8rem;
}
