.chat {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.messages {
  overflow-y: auto;
  height: 65vh;
}

.chat .messages .list-group-item {
  border-radius: .8rem;
}

/* .chat .messages .text-start {
  background-color: rgba(100, 100, 100, .5);
} */

.chat .messages .text-end {
  background-color: rgba(4, 86, 0, 0.5);
}
