.header-main {
  align-items: center;
  background-color: var(--black);
  color: var(--white);
  display: flex;
  height: 12vh;
  padding: .8rem 0;

  position: sticky;
  top: 0;
  animation: adjust-header linear both;
  animation-timeline: scroll();
  animation-range: 0 100px;
  z-index: 10;
}

.header-main nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.header-main .navbar-brand {
  font-size: 2.4rem;
  font-weight: bold;
}

.header-main .bi-list {
  font-size: 4.4rem;
}


.offcanvasHeader {
  font-size: 2rem;
}

.offcanvasHeader .offcanvas-header {
  padding: 2rem 2rem 0 0;
}

.offcanvasHeader .offcanvas-header .btn-close {
  font-size: 2.8rem;
}

.offcanvasHeader .offcanvas-body .list-group {
  gap: 3rem;
  height: 100%;
}

.offcanvasHeader .offcanvas-body .list-group-item {
  text-align: center;
}

.offcanvasHeader .offcanvas-footer {
  padding-bottom: 3.2rem;
}

.offcanvasHeader .offcanvas-footer div {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 80%;
}

.offcanvasHeader .offcanvas-footer a {
  font-size: 2rem;
}


@keyframes adjust-header {
  to {
    background-color: rgba(0, 0, 0, .5);
    color: #fff;
  }
}

.logo-container {
  text-align: center; /* Alineación centrada del logo */
  margin-bottom: 20px; /* Espacio inferior */
}

.logo {
  width: 10%; /* Ancho del logo */
  height: auto; /* Altura automática para mantener la proporción */
  background-color: #fff;
}